@media screen and (max-width: 1170px){
    #home> h1 {
        font-size: 6em;
    }

    section>article {
        width: 80%;
        height: 90%;
        margin: auto;
    }

    h2 {
        font-size: 45px;
    }

    p {
        font-size: 1,1em;
    }
}

@media screen and (max-width: 1000px){
    section>article {
        width: 82%;
        margin: auto;
    }
}

@media screen and (max-width: 930px){
    section>article {
        width: 78%;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 1em;
    }

    figcaption {
        width: 94%;
    }

    #sec1 > article > div {
        flex-direction: column;
        
    }

    #sec1 > article > div > p {
        width: 100%;
        margin-bottom: 40px;
    }

    .img-section1 {
        flex-direction: row;
        align-items: flex-start;

        height: auto;
        width: auto;
        margin: 0;

    }

    .img-section1 > figure {
        width: 45%;
    }
}

@media screen and (max-width: 720px){
    figcaption {
        font-size: 0.7em;
    }
    h2{
        font-size: 35px;
    }

    #home>h1 {
        font-size: 4.5em;
    }

    #menuContent {
        width: 50%;
    }

    #contact, #source {
        width: 70%;
        left: 15%;
    }

    @keyframes menu {
        0%{
            width: 0;
        }
        100%{
            width: 50%;
        }
    }

    .img-section1 {
        gap: 30px;
    }

    .img-section1 > figure {
        width: 40%;
    }
    .section6 > .sect6-1 > p {
        width: 100%;
    }
}


@media screen and (max-width: 650px){
    html {
        overflow-y: scroll;
    }

    #barre {
        display: none;
    }

    #home {
        justify-content: space-evenly;
    }

    #btn { 
        display: block;
    }

    #menu > div {
        background-color: #c2755d;
    }

    .background-menu {
        display: block;
    }

    section {
        min-height: 100vh;
        height: auto;
        padding-bottom: 100px;
    }

    section>article{
        width: 92%;
        background-color: #7d6e8335;
        padding: 20px;
        border-radius: 8px;
    }

    .sect4-1 {
        flex-direction: column;
    }

    .sect4-1 p {
        width: 98%;
    }

    .section4 >.sect4-1 > figure {
        width: 70%;
    }

    #footer{
        justify-content: space-between;
    }
    
}

@media screen and (max-width: 510px){
    #menuContent {
        max-width: none;
        width: 100vw;
        height: 60%;
        padding: 5% 0;
    }

    #home > h1 {
        width: 90%;
        font-size: 3.4em;
    }

    #contact, #source {
        width: 80%;
        left: 10%;
    }

    @keyframes menu {
        0%{
            height: 0;
        }
        50%{
            height: 60%;
        }
    }
    
}