
/* 
    Partage: 

    git add .
    git commit -m "Petit description des changes que t'a fait"
    git push -u origin master


    Obtenir:

    git fetch
    git merge origin/master

    Aprés dans la terminale metre :qa! pour sortir de la terminal de git (vim)
*/
/* 
Code couleur :

background : #6A67CE
h1 h2 : #A68067 */


/* holaaaaa */ lll

/* Home -------------------------------------------------------- */


/* Section 1 -------------------------------------------------------- */





/* Section 2 -------------------------------------------------------- */





/* Section 3 -------------------------------------------------------- */





/* Section 4 -------------------------------------------------------- */





/* Section 5 -------------------------------------------------------- */





/* Section 6 -------------------------------------------------------- */





/* Section 7 -------------------------------------------------------- */





/* Section 8 -------------------------------------------------------- */





/* Section 9 -------------------------------------------------------- */





/* Section 10 -------------------------------------------------------- */





/* Section 11 -------------------------------------------------------- */