
/* 
    Partage: 

    git add .
    git commit -m "Petit description des changes que t'a fait"
    git push -u origin master


    Obtenir:

    git fetch
    git merge origin/master

    Aprés dans la terminale metre :qa! pour sortir de la terminal de git (vim)
*/
/* 
Code couleur :

background : #6A67CE
menu : #947EC3
h1 h2 : #A68067 
police, navbar : F8FFCF 
cercle blur1 : #7D6E83
cercle blur2: #2A63A6 */

/* :root{
    --fond: #6A67CE;
    --titre: #A68067;
}
*/

/* GENERAL */

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
    overflow-x: hidden;
}

body {
    height: 100vh;
}

p {
    color: #F8FFCF;
    font-size: 25px;
}

h2 {
    font-size: 60px;
    margin-bottom: 40px;
}

img {
    border: 1px solid white;
    border-radius: 10px;
}

section{
    border: solid 1px white;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: hsla(242, 51%, 61%, 0.4);
    z-index: 1;
}
section>article{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: white;
    width: 75%;
    height: 80%;
    text-align: justify;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

/* Menu -------------------------------------------------------- */
#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}

#menu > div {
    height: 4px;
    width: 100%;
    background-color:  white;
    border-radius: 4px;
}

#menuContent{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: aliceblue;
    display: none;
}
/* Barre -------------------------------------------------------*/

#barre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 90%;
    position: fixed;
    right: 2%;
    top: 5%;
}
#barre > hr {
    height: 98%;
    border-color: #81a5d9;
    position: absolute;
    z-index: -1;
}
#barre > div {
    width: 25px;
    height: 25px;
    background-color: #81a5d9;
    border-radius: 50%;
}
#barre > div > a{
    width: 100%;
    height: 100%;
}

#barre > div:hover {
    background-color:#A68067;
    transform: scale(1.5);
}




/* Background circles ------------------------------------------*/

.circle {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    position: fixed;
    z-index: -1;
}

.circle1 {
    background-color: #7D6E83;
    width: 400px;
    height: 400px;
    top: 70%;
    left: 60%;
    filter: blur(40px) opacity(0.4);
}

.circle2 {
    background-color: #2A63A6;
    width: 450px;
    height: 450px;
    top: 4%;
    left: 5%;
    filter: blur(80px) opacity(0.4);
    
}

.circle3 {
    background-color: #e7e7e7;
    width: 300px;
    height: 300px;
    filter: blur(40px) opacity(0.4);

    right: -130px;
    top: -150px;
}


/* Home ------------------------------------------------------------- */

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#home > h1 {
    width: 60%;
    font-size: 8em;
    color: #A68067;
    font-weight: lighter;
}



/* Section -------------------------------------------------------- */


/* Section 1 -------------------------------------------------------- */

#sec1 {

    background-color: hsla(242, 51%, 61%, 0.4);

    border: 1px solid white;

}

#sec1 > article > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#sec1 > article > div > img {
    border: 1px solid white;
    width: 40%;


    margin-left: 40px;
}

#sec1 > article > div > p {
    width: 50%;

}
/* Section 2 --------------------------------------------------------*/

#sec2>article>p{
    font-size: 10px;
}

/* Section 3 -------------------------------------------------------- */





/* Section 4 -------------------------------------------------------- */





/* Section 5 -------------------------------------------------------- */





/* Section 6 -------------------------------------------------------- */





/* Section 7 -------------------------------------------------------- */





/* Section 8 -------------------------------------------------------- */





/* Section 9 -------------------------------------------------------- */





/* Section 10 -------------------------------------------------------- */





/* Section 11 -------------------------------------------------------- */