
/* 
    Partage: 

    git add .
    git commit -m "Petit description des changes que t'a fait"
    git push -u origin master


    Obtenir:

    git fetch
    git merge origin/master

    Aprés dans la terminale metre :qa! pour sortir de la terminal de git (vim)
*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home -------------------------------------------------------- */

HELLO TEST HOMES



/* Section 1 -------------------------------------------------------- */





/* Section 2 -------------------------------------------------------- */





/* Section 3 -------------------------------------------------------- */





/* Section 4 -------------------------------------------------------- */





/* Section 5 -------------------------------------------------------- */





/* Section 6 -------------------------------------------------------- */





/* Section 7 -------------------------------------------------------- */





/* Section 8 -------------------------------------------------------- */





/* Section 9 -------------------------------------------------------- */





/* Section 10 -------------------------------------------------------- */





/* Section 11 -------------------------------------------------------- */